body{
    margin:100px;
    text-align:center;
    font-family: 'Hanken Grotesk', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YWJzdHJhY3R8ZW58MHx8MHx8&w=1000&q=80");
    
}
.main-div{
    padding-left:200px;
    padding-top:20px;
    background-color: white;
 
    
}

.result-col{
    border-radius: 30px;
    border-style: solid;
    padding-right:120px;
    padding-left:120px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color:White;
}
.para{
    font-family: 'Merriweather', serif;
    margin-bottom:48px;
}
.result{
    margin-top:80px;
    margin-bottom:0;
    padding-bottom:20px;
    color:rgb(195, 195, 247);
    line-height: 10px;
}
.summary-col{
    border-style: solid;
    border-radius: 10px 20px 20px 10px;
    padding-right:30px;
    border-color: white;
    padding-left:30px;
    box-shadow: 22px -1px 27px 15px rgba(234,232,247,1);


}
.summary{
    text-align: left;
    margin-bottom: 0;
}
.score{
    border-style:solid;
    border-radius:100%;
    border-color: hsla(256, 72%, 46%, 1);
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 1));
    box-shadow: 0px -7px 26px 3px rgba(46,17,235,0.48);
}
.re-score{
    font-weight: bolder;
    color:#0c0125;
    text-align: center;
}
.final-score{
    font-size:500%;
    margin: 40px 0 0 0;
}
.final-score-1{
    font-size:100%;
    margin:0px;
    color:rgb(147, 147, 221);
    position:relative;
    bottom:30px;

   
}
h4{

    display:inline-block;
}
img{
    padding-right:10px;
    position:relative;
    top:4px;
    left:10px;
}
h4{
    padding-right:100px;
}
.reaction{
    display:block;
    border-style: solid;
    margin-bottom:10px;
    border-radius:10px; 
    border-color:white;
    color:hsl(0, 100%, 67%);
    background-color:rgba(254,226,221,1);
}

.memory{
    display:block;
    border-style: solid;
    margin-bottom:10px; 
    border-radius:10px;
    border-color:white;
    color:hsl(39, 100%, 56%);
    background-color: rgb(248, 236, 195); 
    
   
}

.verbal{
    display:block;
    border-style: solid;
    margin-bottom:10px; 
    border-radius:10px;   
    border-color:white;
    color:hsl(166, 100%, 37%);
    background-color: rgb(193, 242, 184); 
}

.visual{
    display:block;
    border-style: solid;
    margin-bottom:50px;
    border-radius:10px; 
    border-color:white;
    color:hsl(234, 85%, 45%);
    background-color: rgb(223, 194, 243);
}
.btn{
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #0c0125, #170c41);
    background-image: -moz-linear-gradient(top, #0c0125, #170c41);
    background-image: -ms-linear-gradient(top, #0c0125, #170c41);
    background-image: -o-linear-gradient(top, #0c0125, #170c41);
    background-image: linear-gradient(top, #0c0125, #170c41);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 30px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin:50px 0 50px 0;
    padding-left:100px;
    padding-right:100px;
}
.attribution { 
    margin-top:100px;
    font-size: 20px; text-align: center; 
    font-weight: bolder;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
    }